" list of commands here: https://jb.gg/h38q75

set clipboard=unnamedplus,unnamed,ideaput
set iskeyword-=_
set incsearch
set scrolloff=5

let mapleader = " "

map <C-h> <C-w>h
map <C-n> <C-w>j
map <C-e> <C-w>k
map <C-i> <C-w>l

nmap n j
nmap e k
nmap i l
vmap n j
vmap e k
vmap i l

map <leader>q :q<CR>
map <leader>ce <Action>(ShowErrorDescription)
map <leader>ff <Action>(GotoFile)
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)
map gr <Action>(GotoDeclaration)
map <leader>d <Action>(Debug)

Plug 'tpope/vim-commentary'
