"\e[127;5u": backward-kill-word
"\e[127u": delete-char
"\e[H": beginning-of-line
"\e[F": end-of-line
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[9u": menu-complete
"\e[9;2u": menu-complete-backward

$if Psql
  "\e[9u": possible-completions
$endif

$if Ssh
  "\e[9u": possible-completions
$endif
