layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="tab-bar"
    }
    children
  }
  pane_template name="GCloud_Function" {
    cwd "/home/mike/Source/scripts"
    command "echo"
    // command "./gcloud-functions.sh"
  }
  pane_template stacked=true name="Proxies" {
    GCloud_Function name="Postgres Proxy" {
      args "proxy" "postgres" "dev"
    }
    GCloud_Function name="Clickhouse Proxy" {
      args "proxy" "clickhouse" "dev"
    }
    GCloud_Function name="UI Proxy" {
      args "proxy" "ui" "dev-dev"
    }
  }
  pane_template name="Maven_Command" {
    command "mvn"
  }
  tab name="Shell" focus=true {
  }
  tab name="Maven" {
    pane stacked=true {
      Maven_Command {
        name "Maven Install"
        args "clean" "install" "-DskipTests" "-o"
        start_suspended true
        expanded true
      }
      Maven_Command {
        name "Maven Test"
        args "surefire:test"
        start_suspended true
      }
    }
  }
  tab name="Postgres" {
    pane stacked=true {
      GCloud_Function name="proxy" {
        args "proxy" "postgres" "dev"
      }
      pane {
        name "psql"
        command "bash"
        args "-c" "source $API_ENV; sleep 5; psql -h localhost"
      }
    }
  }
  tab name="Clickhouse" {
    pane stacked=true {
      GCloud_Function name="proxy" {
        args "proxy" "clickhouse" "dev"
      }
      pane {
        name "clickhouse-client"
        command "bash"
        args "-c" "sleep 10; clickhouse-client"
      }
    }
  }
}
env {
  API_ENV "/home/mike/Source/darwin/localFiles/shell/s5-dev-dev-asst.sh"
  MFP_ENV "/home/mike/Source/darwin/localFiles/shell/s5-dev-dev-mfp.sh"
  PLANNER_ENV "/home/mike/Source/darwin/localFiles/shell/s5-dev-dev-planner.sh"
}
